all.json
[{"id":"39758ced.e215cc","type":"tab","label":"Sensor-To-MQTT","disabled":false,"info":"嶺東教育訓練"},{"id":"17020a9.a5ac375","type":"tab","label":"MQTT-To-DB","disabled":false,"info":"嶺東教育訓練"},{"id":"5c9c4d8a.e2f73c","type":"tab","label":"Camera","disabled":false,"info":""},{"id":"ce44b519.5b4278","type":"tab","label":"restful","disabled":true,"info":""},{"id":"a7e0b359.c2807","type":"ui_group","z":"","name":"黃老師教學課程","tab":"d43dc05.57bb84","order":1,"disp":true,"width":"6","collapse":false},{"id":"d43dc05.57bb84","type":"ui_tab","z":"","name":"嶺東科大","icon":"dashboard","disabled":false,"hidden":false},{"id":"8b523f27.c70d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1b09081a.a7bdf8","type":"mqtt-broker","z":"","name":"","broker":"soldier.cloudmqtt.com","port":"11488","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"13e1cf28.ca1699","type":"mqtt-broker","z":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2233293b.c98cee","type":"ui_group","z":"","name":"Main Lamp","tab":"","order":1,"disp":true,"width":"6"},{"id":"4427bf.00e6604","type":"ui_group","z":"","name":"Bench Light","tab":"","order":2,"disp":true,"width":"6"},{"id":"3a32b12c.276846","type":"mqtt-broker","z":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"188b9655.29d342","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"746eb242.cc40f4","type":"ui_group","z":"","name":"Main Lamp","tab":"","order":1,"disp":true,"width":"6"},{"id":"927aebed.5ee0a8","type":"ui_group","z":"","name":"Bench Light","tab":"","order":2,"disp":true,"width":"6"},{"id":"fe109522.06a918","type":"ui_group","z":"","name":"MiFlora","tab":"","order":2,"disp":true,"width":"6"},{"id":"8333b0ff.22d62","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":true,"width":"18"},{"id":"f73be535.bf9d68","type":"ui_group","z":"","name":"Selection","tab":"","order":1,"disp":true,"width":"5"},{"id":"f6d4cbd9.d42048","type":"ui_group","z":"","name":"MiFlora","tab":"","order":2,"disp":true,"width":"6"},{"id":"aeb5d6f6.f70fa8","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":true,"width":"18"},{"id":"c858b97b.1f30c8","type":"ui_group","z":"","name":"Selection","tab":"","order":1,"disp":true,"width":"5"},{"id":"9f598be7.115738","type":"ui_group","z":"","name":"Mailbox","tab":"","disp":true,"width":"6"},{"id":"9b45afa2.c0e188","type":"ui_group","z":"","name":"Weather Station","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"103dbf20.86e799","type":"ui_group","z":"","name":"Sensor 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"81c61c49.7ede48","type":"ui_group","z":"","name":"Sensor 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"df4ad81e.4ba39","type":"ui_group","z":"","name":"New Devices","tab":"","order":5,"disp":true,"width":"18"},{"id":"79934206.de7dc4","type":"ui_group","z":"","name":"Magnet","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"8b8abd2c.4d74c","type":"ui_group","z":"","name":"Digoo RS8 Sensor","tab":"","order":2,"disp":true,"width":"6"},{"id":"259a850e.97e422","type":"ui_group","z":"","name":"Digoo Weather Station","tab":"","order":3,"disp":true,"width":"6"},{"id":"3036d40f.e5cf3c","type":"ui_group","z":"","name":"New Devices","tab":"","order":5,"disp":true,"width":"18"},{"id":"a3b0a9ee.ba2678","type":"ui_group","z":"","name":"Door Bell","tab":"","order":4,"disp":true,"width":"6"},{"id":"194519a.5b08366","type":"ui_group","z":"","name":"Status","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4ee7592f.68fdb8","type":"ui_group","z":"","name":"黃老師教學課程","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7b861a61.b31794","type":"mqtt-broker","z":"","name":"","broker":"soldier.cloudmqtt.com","port":"11488","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"59973206.1d73e4","type":"mqtt-broker","z":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b5238aa.8ac39","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6ceb7ed0.8b7078","type":"ui_group","z":"","name":"Main Lamp","tab":"","order":1,"disp":true,"width":"6"},{"id":"26bb76b1.b48882","type":"ui_group","z":"","name":"Bench Light","tab":"","order":2,"disp":true,"width":"6"},{"id":"2390b99c.5acc1e","type":"mqtt-broker","z":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"536f6a52.60c0dc","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"1ae5d6cf.e37ac9","type":"ui_group","z":"","name":"Main Lamp","tab":"","order":1,"disp":true,"width":"6"},{"id":"decf85bd.6fcc48","type":"ui_group","z":"","name":"Bench Light","tab":"","order":2,"disp":true,"width":"6"},{"id":"1ccbb1e3.84a5ce","type":"ui_group","z":"","name":"MiFlora","tab":"","order":2,"disp":true,"width":"6"},{"id":"1cede64b.5cec7a","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":true,"width":"18"},{"id":"d23d30fe.8c2a3","type":"ui_group","z":"","name":"Selection","tab":"","order":1,"disp":true,"width":"5"},{"id":"4ef5d504.a755f4","type":"ui_group","z":"","name":"MiFlora","tab":"","order":2,"disp":true,"width":"6"},{"id":"fd227905.65b228","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":true,"width":"18"},{"id":"2e1adebb.61de82","type":"ui_group","z":"","name":"Selection","tab":"","order":1,"disp":true,"width":"5"},{"id":"b1cb23e2.767bd","type":"ui_group","z":"","name":"Mailbox","tab":"","disp":true,"width":"6"},{"id":"69ec02fd.42e73c","type":"ui_group","z":"","name":"Weather Station","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"cb1fc7e1.e5412","type":"ui_group","z":"","name":"Sensor 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"e7320d0d.1b7688","type":"ui_group","z":"","name":"Sensor 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"6d93827c.dd1584","type":"ui_group","z":"","name":"New Devices","tab":"","order":5,"disp":true,"width":"18"},{"id":"e500852.6731a78","type":"ui_group","z":"","name":"Magnet","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"643cb9d5.b3a0a8","type":"ui_group","z":"","name":"Digoo RS8 Sensor","tab":"","order":2,"disp":true,"width":"6"},{"id":"5e12f11e.ba23","type":"ui_group","z":"","name":"Digoo Weather Station","tab":"","order":3,"disp":true,"width":"6"},{"id":"d0c9639a.9c7c88","type":"ui_group","z":"","name":"New Devices","tab":"","order":5,"disp":true,"width":"18"},{"id":"626a75d.f8d5c8c","type":"ui_group","z":"","name":"Door Bell","tab":"","order":4,"disp":true,"width":"6"},{"id":"661659b5.40809","type":"ui_tab","z":"","name":"嶺東科大","icon":"dashboard","disabled":false,"hidden":false},{"id":"f0c510e0.cf1b28","type":"ui_group","z":"","name":"Status","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1c8c54e.23db8","type":"ui_group","z":"","name":"黃老師教學課程","tab":"661659b5.40809","order":1,"disp":true,"width":"6","collapse":false},{"id":"4ffa1ecc.51f8a8","type":"mqtt-broker","z":"","name":"","broker":"soldier.cloudmqtt.com","port":"11488","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1f6d6d82.59d67a","type":"mqtt-broker","z":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a9282673.863328","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"caaa5b85.ba3ff8","type":"ui_group","z":"","name":"Main Lamp","tab":"","order":1,"disp":true,"width":"6"},{"id":"7bdca18c.5523a8","type":"ui_group","z":"","name":"Bench Light","tab":"","order":2,"disp":true,"width":"6"},{"id":"f1c3e517.837cd","type":"mqtt-broker","z":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bb2f5297.42e4c8","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"4f8c507f.167da8","type":"ui_group","z":"","name":"Main Lamp","tab":"","order":1,"disp":true,"width":"6"},{"id":"ccabdf5f.d7bc08","type":"ui_group","z":"","name":"Bench Light","tab":"","order":2,"disp":true,"width":"6"},{"id":"abdf8361.a1cc6","type":"ui_group","z":"","name":"MiFlora","tab":"","order":2,"disp":true,"width":"6"},{"id":"8ddf3e2e.895128","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":true,"width":"18"},{"id":"99b5a538.c54ac","type":"ui_group","z":"","name":"Selection","tab":"","order":1,"disp":true,"width":"5"},{"id":"25ee27e9.a3906","type":"ui_group","z":"","name":"MiFlora","tab":"","order":2,"disp":true,"width":"6"},{"id":"29ab390e.281fae","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":true,"width":"18"},{"id":"f0b49a51.81567","type":"ui_group","z":"","name":"Selection","tab":"","order":1,"disp":true,"width":"5"},{"id":"41d190b3.19cb1","type":"ui_group","z":"","name":"Mailbox","tab":"","disp":true,"width":"6"},{"id":"98e21ac2.af2e08","type":"ui_group","z":"","name":"Weather Station","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b38c37d8.1250c8","type":"ui_group","z":"","name":"Sensor 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"bd42e355.b60028","type":"ui_group","z":"","name":"Sensor 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"12c001d8.84da0e","type":"ui_group","z":"","name":"New Devices","tab":"","order":5,"disp":true,"width":"18"},{"id":"7cbb42c5.334184","type":"ui_group","z":"","name":"Magnet","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"7cf8a21b.01f6bc","type":"ui_group","z":"","name":"Digoo RS8 Sensor","tab":"","order":2,"disp":true,"width":"6"},{"id":"9a446d43.d5ee9","type":"ui_group","z":"","name":"Digoo Weather Station","tab":"","order":3,"disp":true,"width":"6"},{"id":"18ab790f.42c9d7","type":"ui_group","z":"","name":"New Devices","tab":"","order":5,"disp":true,"width":"18"},{"id":"1d6b702b.8bc39","type":"ui_group","z":"","name":"Door Bell","tab":"","order":4,"disp":true,"width":"6"},{"id":"6d9e7a49.98b114","type":"ui_tab","z":"","name":"嶺東科大","icon":"dashboard","disabled":false,"hidden":false},{"id":"283b99cb.8fa9d6","type":"ui_group","z":"","name":"Status","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e5a98f51.09b8c","type":"ui_group","z":"","name":"黃老師教學課程","tab":"6d9e7a49.98b114","order":1,"disp":true,"width":"6","collapse":false},{"id":"8415e39e.61d988","type":"ui_group","z":"","name":"黃老師教學課程","tab":"57e46d5d.9c1ec4","order":1,"disp":true,"width":"6","collapse":false},{"id":"57e46d5d.9c1ec4","type":"ui_tab","z":"","name":"嶺東科大","icon":"dashboard","disabled":false,"hidden":false},{"id":"a48bb827.024048","type":"mqtt-broker","z":"","name":"","broker":"soldier.cloudmqtt.com","port":"11488","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8b3dc675.b74c88","type":"mqtt-broker","z":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cc7668a9.7a627","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7da8fd1d.64bbbc","type":"ui_group","z":"","name":"Main Lamp","tab":"","order":1,"disp":true,"width":"6"},{"id":"55a66c42.527884","type":"ui_group","z":"","name":"Bench Light","tab":"","order":2,"disp":true,"width":"6"},{"id":"86f4c006.eaea58","type":"mqtt-broker","z":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"111f02e8.15bfc5","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"87e3196b.1c9b88","type":"ui_group","z":"","name":"Main Lamp","tab":"","order":1,"disp":true,"width":"6"},{"id":"26cbcc5.3b225b4","type":"ui_group","z":"","name":"Bench Light","tab":"","order":2,"disp":true,"width":"6"},{"id":"cd0891a0.1262a","type":"ui_group","z":"","name":"MiFlora","tab":"","order":2,"disp":true,"width":"6"},{"id":"6a09e4d2.f9d15c","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":true,"width":"18"},{"id":"6ceb4162.761c58","type":"ui_group","z":"","name":"Selection","tab":"","order":1,"disp":true,"width":"5"},{"id":"6adcec43.4438f4","type":"ui_group","z":"","name":"MiFlora","tab":"","order":2,"disp":true,"width":"6"},{"id":"ae9ca7d2.f037a","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":true,"width":"18"},{"id":"6aed428e.f15e94","type":"ui_group","z":"","name":"Selection","tab":"","order":1,"disp":true,"width":"5"},{"id":"c187b617.b8362","type":"ui_group","z":"","name":"Mailbox","tab":"","disp":true,"width":"6"},{"id":"edf2b8e.3dd5dc8","type":"ui_group","z":"","name":"Weather Station","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"24980e70.90c4d2","type":"ui_group","z":"","name":"Sensor 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4e3c1a2b.687a6c","type":"ui_group","z":"","name":"Sensor 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"612a434f.a13564","type":"ui_group","z":"","name":"New Devices","tab":"","order":5,"disp":true,"width":"18"},{"id":"203d06a.5c8017a","type":"ui_group","z":"","name":"Magnet","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"f7bdd633.a20e9","type":"ui_group","z":"","name":"Digoo RS8 Sensor","tab":"","order":2,"disp":true,"width":"6"},{"id":"c465c18e.96be3","type":"ui_group","z":"","name":"Digoo Weather Station","tab":"","order":3,"disp":true,"width":"6"},{"id":"a407c781.d69438","type":"ui_group","z":"","name":"New Devices","tab":"","order":5,"disp":true,"width":"18"},{"id":"a5936f0f.fc4a4","type":"ui_group","z":"","name":"Door Bell","tab":"","order":4,"disp":true,"width":"6"},{"id":"c345fa8a.538e08","type":"ui_tab","z":"","name":"嶺東科大","icon":"dashboard","disabled":false,"hidden":false},{"id":"955d0608.f1e77","type":"ui_group","z":"","name":"Status","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8a536ede.d8a728","type":"ui_group","z":"","name":"黃老師教學課程","tab":"c345fa8a.538e08","order":1,"disp":true,"width":"6","collapse":false},{"id":"797c9310.9f526c","type":"mqtt-broker","z":"","name":"","broker":"soldier.cloudmqtt.com","port":"11488","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1ce5c6b1.2e3389","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"WEATHER","name":"Weather","usetls":false,"tls":""},{"id":"1aafd444.b6459c","type":"mqtt-broker","z":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a7911ec4.d020a8","type":"influxdb","z":"","hostname":"192.168.43.196","port":"8086","protocol":"http","database":"ltu","name":"Weather","usetls":false,"tls":""},{"id":"eae23f5c.f813e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"df3f0190.c69918","type":"ui_group","z":"","name":"Main Lamp","tab":"","order":1,"disp":true,"width":"6"},{"id":"8543632e.2a59a8","type":"ui_group","z":"","name":"Bench Light","tab":"","order":2,"disp":true,"width":"6"},{"id":"ce3bb7b9.043248","type":"twitter-credentials","z":"","screen_name":"@spiessa"},{"id":"f22aa2f1.8d8bb","type":"twitter-credentials","z":"","screen_name":"@SensorsIOT"},{"id":"44bbfd67.7aa564","type":"mqtt-broker","z":"","broker":"192.168.0.203","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5c59236a.11c104","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"aad6204e.25996","type":"ui_group","z":"","name":"Main Lamp","tab":"","order":1,"disp":true,"width":"6"},{"id":"c5760b25.339028","type":"ui_group","z":"","name":"Bench Light","tab":"","order":2,"disp":true,"width":"6"},{"id":"f187bcdf.4095f","type":"ui_group","z":"","name":"MiFlora","tab":"","order":2,"disp":true,"width":"6"},{"id":"b802c247.a7d9e","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":true,"width":"18"},{"id":"5a1cd0e8.1e71b8","type":"ui_group","z":"","name":"Selection","tab":"","order":1,"disp":true,"width":"5"},{"id":"bcdc5c7d.7ced1","type":"ui_group","z":"","name":"MiFlora","tab":"","order":2,"disp":true,"width":"6"},{"id":"f8bae67d.8a1a4","type":"ui_group","z":"","name":"Report","tab":"","order":2,"disp":true,"width":"18"},{"id":"fce9d396.fab618","type":"ui_group","z":"","name":"Selection","tab":"","order":1,"disp":true,"width":"5"},{"id":"c26943bd.698488","type":"ui_group","z":"","name":"Mailbox","tab":"","disp":true,"width":"6"},{"id":"84da3b09.62916","type":"ui_group","z":"","name":"Weather Station","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e1606a54.ed0248","type":"ui_group","z":"","name":"Sensor 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d6e4e87d.bad55","type":"ui_group","z":"","name":"Sensor 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a0bf8f9c.011c98","type":"ui_group","z":"","name":"New Devices","tab":"","order":5,"disp":true,"width":"18"},{"id":"c716984.62b23e8","type":"ui_group","z":"","name":"Magnet","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"a6ec81d1.00f43","type":"ui_group","z":"","name":"Digoo RS8 Sensor","tab":"","order":2,"disp":true,"width":"6"},{"id":"da598c97.5bd438","type":"ui_group","z":"","name":"Digoo Weather Station","tab":"","order":3,"disp":true,"width":"6"},{"id":"3984c09c.03f54","type":"ui_group","z":"","name":"New Devices","tab":"","order":5,"disp":true,"width":"18"},{"id":"aa1c4d2.070ba3","type":"ui_group","z":"","name":"Door Bell","tab":"","order":4,"disp":true,"width":"6"},{"id":"5d547905.407098","type":"ui_tab","z":"","name":"嶺東科大","icon":"dashboard","disabled":false,"hidden":false},{"id":"da7bc39c.13da08","type":"ui_group","z":"","name":"Status","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"298154d8.568c0c","type":"ui_group","z":"","name":"黃老師教學課程","tab":"5d547905.407098","order":1,"disp":true,"width":"6","collapse":false},{"id":"36cb3a5a.0a9bf6","type":"mqtt in","z":"17020a9.a5ac375","name":"","topic":"ltu","qos":"0","broker":"797c9310.9f526c","x":103,"y":57,"wires":[["912805d5.c27db","30a6fc8b.1c1f54"]]},{"id":"396e6137.11bf5e","type":"function","z":"17020a9.a5ac375","name":"Parse message","func":"var msg433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nvar parts433 = msg.payload.split(\";\");\n\nmsg433.p1 = parts433[0];\nmsg433.p2 = parts433[1];\nmsg433.name = parts433[2];\n\nfor (var i=3; i<parts433.length; i++) {\n    var keyvalue = parts433[i].split(\"=\");\n    if (keyvalue.length===2) {\n        msg433[keyvalue[0]] = keyvalue[1];\n    }\n}\n\nmsg.msg433 = msg433;\nmsg.topic=\"ltu\";\n\nreturn msg;\n\n/*\n\n// So firstly a generic means of getting incoming items into an object\n\nvar the433 = {};\nmsg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nnode.warn(msg.payload);\nvar parts433 = msg.payload.split(\";\");\n\nthe433.p1 = parts433[0];\nthe433.p2 = parts433[1];\nthe433.name = parts433[2];\n\nvar a = 3;\nwhile (a < parts433.length) {\n    var bits433 = parts433[a].split(\"=\");\n    switch (bits433[0]) {\n        case \"ID\": the433.id = bits433[1]; break;\n        case \"SWITCH\": the433.switch = bits433[1]; break;\n        case \"CMD\": the433.cmd = bits433[1]; break;\n        case \"SET_LEVEL\": the433.set_level = parseInt(bits433[1], 10); break;\n        case \"TEMP\": the433.temp = parseInt(bits433[1], 16) / 10; break;\n        case \"HUM\": the433.hum = parseInt(bits433[1], 10); break;\n        case \"BARO\": the433.baro = parseInt(bits433[1], 16); break;\n        case \"HSTATUS\": the433.hstatus = parseInt(bits433[1], 10); break;\n        case \"BFORECAST\": the433.bforecast = parseInt(bits433[1], 10); break;\n        case \"UV\": the433.uv = parseInt(bits433[1], 16); break;\n        case \"LUX\": the433.lux = parseInt(bits433[1], 16); break;\n        case \"BAT\": the433.bat = bits433[1]; break;\n        case \"RAIN\": the433.rain = parseInt(bits433[1], 16) / 10; break;\n        case \"RAIN\": the433.rainrate = parseInt(bits433[1], 16) / 10; break;\n        case \"WINSP\": the433.winsp = parseInt(bits433[1], 16) / 10; break;\n        case \"AWINSP\": the433.awinsp = parseInt(bits433[1], 16) / 10; break;\n        case \"WINGS\": the433.wings = parseInt(bits433[1], 16); break;\n        case \"WINDIR\": the433.windir = parseInt(bits433[1], 10); break;\n        case \"WINCHL\": the433.winchl = parseInt(bits433[1], 16); break;\n        case \"WINTMP\": the433.wintmp = parseInt(bits433[1], 16); break;\n        case \"CHIME\": the433.chime = parseInt(bits433[1], 10); break;\n        case \"SMOKEALERT\": the433.smokealert = bits433[1]; break;\n        case \"PIR\": the433.pir = bits433[1]; break;\n        case \"CO2\": the433.co2 = parseInt(bits433[1], 10); break;\n        case \"SOUND\": the433.sound = parseInt(bits433[1], 10); break;\n        case \"KWATT\": the433.kwatt = parseInt(bits433[1], 16); break;\n        case \"WATT\": the433.watt = parseInt(bits433[1], 16); break;\n        case \"CURRENT\": the433.current = parseInt(bits433[1], 10); break;\n        case \"CURRENT2\": the433.current2 = parseInt(bits433[1], 10); break;\n        case \"CURRENT3\": the433.current3 = parseInt(bits433[1], 10); break;\n        case \"DIST\": the433.dist = parseInt(bits433[1], 10); break;\n        case \"METER\": the433.meter = parseInt(bits433[1], 10); break;\n        case \"VOLT\": the433.volt = parseInt(bits433[1], 10); break;\n        case \"RGBW\": the433.rgbc = parseInt(bits433[1].substring(0, 2), 16);\n            the433.rgbw = parseInt(bits433[1].substring(2, 4), 16); break;\n    }\n    a++;\n}\n\n// SO - the above is general... here is my specific setup for temporarily displaying\n// the Acurite info\nif ((the433.p1 == \"20\") && (the433.name == \"Acurite\") && (the433.id == \"c826\")) {\n    if (typeof the433.temp !== 'undefined') temp = the433.temp;\n    if (typeof the433.hum !== 'undefined') hum = the433.hum;\n    if (typeof the433.bat !== 'undefined') bat = the433.bat;\n    if (typeof the433.rain !== 'undefined') rain = the433.rain;\n    if (typeof the433.winsp !== 'undefined') winsp = the433.winsp;\n    if (typeof the433.windir !== 'undefined') windir = the433.windir;\n\n    node.warn(\"Temperature: \" + temp + \"c\");\n    node.warn(\"Humidity: \" + hum + \"%\");\n    node.warn(\"Battery: \" + bat);\n    node.warn(\"Rain: \" + rain + \"mm\");\n    node.warn(\"Wind Speed: \" + winsp + \"km/h\");\n    node.warn(\"Wind Dir: \" + (windir * 22.5) + \" degrees\");\n}\n\n*/","outputs":1,"noerr":0,"x":515,"y":114,"wires":[["c7304171.2a085"]]},{"id":"c7304171.2a085","type":"function","z":"17020a9.a5ac375","name":"TEMP conversion","func":"if (msg.msg433.TEMP!==undefined) {\n     msg.msg433.TEMP = parseInt(msg.msg433.TEMP);\n} else msg.msg433.TEMP=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.TEMP });\nreturn msg;","outputs":1,"noerr":0,"x":741,"y":109,"wires":[["2213f407.1bf264"]]},{"id":"2213f407.1bf264","type":"function","z":"17020a9.a5ac375","name":"HUM conversion","func":"if (msg.msg433.HUM!==undefined) {\n    msg.msg433.HUM = parseInt(msg.msg433.HUM, 10);\n}\nelse msg.msg433.HUM=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.HUM });\nreturn msg;\n","outputs":1,"noerr":0,"x":579,"y":191,"wires":[["14092e3a.74ec42"]]},{"id":"14092e3a.74ec42","type":"function","z":"17020a9.a5ac375","name":"ID conversion","func":"if (msg.msg433.ID!==undefined) {\n    msg.msg433.ID = parseInt(msg.msg433.ID, 16);\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":191,"y":260,"wires":[["d5e813b3.eb5788"]]},{"id":"d5e813b3.eb5788","type":"function","z":"17020a9.a5ac375","name":"RAIN conversion","func":"var global_name = \"rainstat\";   // Name of the global variable\n\nvar rainstat = global.get(global_name);\n\n msg.msg433.RAINRATE = -999;\n\nif (msg.msg433.RAIN!==undefined) {\n    msg.msg433.RAIN = parseInt(msg.msg433.RAIN, 16) /10;\n    msg.msg433.RAINRATE = msg.msg433.RAIN - rainstat;\n    global.set(global_name,msg.msg433.RAIN);\n} else msg.msg433.RAIN=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: rainstat });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":439,"y":263,"wires":[["e027840f.068dd8"]]},{"id":"e027840f.068dd8","type":"function","z":"17020a9.a5ac375","name":"WINSP conversion","func":"if (msg.msg433.WINSP!==undefined) {\n    msg.msg433.WINSP = parseInt(msg.msg433.WINSP, 16) /10;\n} else msg.msg433.WINSP=0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.WINSP });\nreturn msg;\n","outputs":1,"noerr":0,"x":702,"y":259,"wires":[["f08927d2.b1322"]]},{"id":"f08927d2.b1322","type":"function","z":"17020a9.a5ac375","name":"WINGS conversion","func":"if (msg.msg433.WINGS!==undefined) {\n    msg.msg433.WINGS  = parseInt(msg.msg433.WINGS , 16)/10;\n}\nelse msg.msg433.WINGS=0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.WINGS });\nreturn msg;\n","outputs":1,"noerr":0,"x":149,"y":337,"wires":[["a5c8f82.a63ae08"]]},{"id":"a5c8f82.a63ae08","type":"function","z":"17020a9.a5ac375","name":"WINDIR conversion","func":"if (msg.msg433.WINDIR!==undefined) {\n    msg.msg433.WINDIR  = parseInt(msg.msg433.WINDIR , 10) * 22.5;\n}\nelse msg.msg433.WINDIR=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.WINDIR });\nreturn msg;\n","outputs":1,"noerr":0,"x":399,"y":336,"wires":[["42c3ceb1.25c0b"]]},{"id":"42c3ceb1.25c0b","type":"function","z":"17020a9.a5ac375","name":"SWITCH conversion","func":"if (msg.msg433.SWITCH !==undefined) {\n    msg.msg433.SWITCH   = parseInt(msg.msg433.SWITCH  , 16);\n}\nelse msg.msg433.SWITCH=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.SWITCH });\nreturn msg;\n","outputs":1,"noerr":0,"x":663,"y":337,"wires":[["fae4d4b4.4c7ea"]]},{"id":"fae4d4b4.4c7ea","type":"function","z":"17020a9.a5ac375","name":"CHIME conversion","func":"if (msg.msg433.CHIME  !==undefined) {\n    msg.msg433.CHIME    = parseInt(msg.msg433.CHIME   , 16);\n} else msg.msg433.CHIME=-999.0;\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.CHIME });\nreturn msg;\n","outputs":1,"noerr":0,"x":170,"y":428,"wires":[["527f2ac1.246bfc"]]},{"id":"508ac73e.cba79","type":"change","z":"17020a9.a5ac375","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"ltu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":605.6328125,"y":412.3046875,"wires":[["3cb1d0de.f6c9"]]},{"id":"3cb1d0de.f6c9","type":"function","z":"17020a9.a5ac375","name":"Weather Station","func":"msg.payload = {\n    name: msg.msg433.name,\n    temp: msg.msg433.TEMP,\n    wind: msg.msg433.WINSP,\n    gust: msg.msg433.WINGS,\n    direction: msg.msg433.WINDIR,\n    rain: msg.msg433.RAIN,\n    rainrate: msg.msg433.RAINRATE,\n    humidity: msg.msg433.HUM,\n    battery: msg.msg433.BAT\n}\nreturn msg;","outputs":1,"noerr":0,"x":163,"y":533,"wires":[["c931a56f.670ec","81a64963.082f5","5bcb45b3.984b44","18f5a179.74ba6f"]]},{"id":"527f2ac1.246bfc","type":"function","z":"17020a9.a5ac375","name":"BAT conversion","func":"if (msg.msg433.BAT === undefined) msg.msg433.BAT=\"\";\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.msg433.BAT });\nreturn msg;\n","outputs":1,"noerr":0,"x":399,"y":420,"wires":[["508ac73e.cba79"]]},{"id":"7e9039ca.3e7d48","type":"inject","z":"17020a9.a5ac375","name":"","topic":"ltu","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125,"y":164,"wires":[["fdaad10.80bc53"]]},{"id":"c931a56f.670ec","type":"influxdb out","z":"17020a9.a5ac375","influxdb":"a7911ec4.d020a8","name":"Weather","measurement":"stations","precision":"s","retentionPolicy":"","x":670,"y":484,"wires":[]},{"id":"30a6fc8b.1c1f54","type":"debug","z":"17020a9.a5ac375","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":274.99998474121094,"y":104,"wires":[]},{"id":"fdaad10.80bc53","type":"function","z":"17020a9.a5ac375","name":"Fake Data","func":"rnd=Math.floor(Math.random(10))+20;\nrnd1=Math.floor(Math.random(10))+50;\nmsg.payload = \"20;02;DKW2012;ID=0043;TEMP=\" + rnd + \";HUM=\" + rnd1 + \";WINSP=0031;WINGS=0049;RAIN=0c22;WINDIR=0004;BAT=OK;\"\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":168,"wires":[["396e6137.11bf5e"]]},{"id":"18f5a179.74ba6f","type":"debug","z":"17020a9.a5ac375","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670.5,"y":553.7999877929688,"wires":[]},{"id":"81a64963.082f5","type":"function","z":"17020a9.a5ac375","name":"Decode - FBX","func":"var code = msg.payload;\nmsg.payload = {};\nif (code.temp > 30) {\n  msg.payload.value1 = \"<br>IoT感測器告警，溫濕度過高!<br>現在數值:<br>溫度:\" + code.temp + \"<br>濕度:\" + code.humidity; \n  return msg;\n}\n","outputs":1,"noerr":0,"x":369,"y":600,"wires":[["a27ffd21.fcb788"]]},{"id":"a27ffd21.fcb788","type":"http request","z":"17020a9.a5ac375","name":"IFTTT-FBX","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/fbx/with/key/xcZVxzxyrW7sKhJCq3_PD","tls":"","x":677,"y":632,"wires":[[]]},{"id":"6f64d944.99e6a8","type":"http request","z":"17020a9.a5ac375","name":"IFTTT-Line","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/line/with/key/xcZVxzxyrW7sKhJCq3_PD","tls":"","x":637,"y":712,"wires":[[]]},{"id":"5bcb45b3.984b44","type":"function","z":"17020a9.a5ac375","name":"Decode - Line","func":"var code = msg.payload;\nmsg.payload = {};\nif (code.temp > 30) {\n  msg.payload.value1 = \"<br>IoT感測器告警，溫濕度過高!\";\n  msg.payload.value2 = \"<br>溫度:\" + code.temp;\n  msg.payload.value3 = \"<br>濕度:\" + code.humidity;\n  return msg;\n}","outputs":1,"noerr":0,"x":369,"y":675,"wires":[["6f64d944.99e6a8"]]},{"id":"912805d5.c27db","type":"function","z":"17020a9.a5ac375","name":"Process MQTT","func":"msg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nvar parts433 = msg.payload.split(\"!\");\nnode.warn(parts433.length)\n//溫度;濕度\nif (parts433.length==2){\n  msg.payload = \"20;02;DKW2012;ID=0043;TEMP=\"+parts433[0]+\";HUM=\"+parts433[1]+\";WINSP=0031;WINGS=0049;RAIN=0c22;WINDIR=0004;BAT=OK;\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":317,"y":40,"wires":[["396e6137.11bf5e"]]},{"id":"9aeb3a93.f2e3e8","type":"http response","z":"ce44b519.5b4278","name":"http response","statusCode":"200","headers":{"Content-Type":"text/html"},"x":604,"y":168,"wires":[]},{"id":"fdf070c6.2b8178","type":"template","z":"ce44b519.5b4278","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","output":"str","x":416,"y":258,"wires":[["9aeb3a93.f2e3e8"]]},{"id":"f160a9ed.26ae28","type":"http in","z":"ce44b519.5b4278","name":"users","url":"/users","method":"get","upload":false,"swaggerDoc":"","x":214,"y":109,"wires":[["fdf070c6.2b8178","70ff90a5.805728"]]},{"id":"70ff90a5.805728","type":"debug","z":"ce44b519.5b4278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":80,"wires":[]},{"id":"8c2ef147.45f668","type":"mqtt out","z":"39758ced.e215cc","name":"ltu","topic":"ltu","qos":"0","retain":"","broker":"797c9310.9f526c","x":664,"y":230,"wires":[]},{"id":"cdb82d33.b3d0b8","type":"inject","z":"39758ced.e215cc","name":"手動輸入","topic":"ltu","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":154,"y":67,"wires":[["a68d9b5a.f824b"]]},{"id":"a68d9b5a.f824b","type":"function","z":"39758ced.e215cc","name":"Fake Data","func":"//判別資料來源\nif (msg.topic!='rpi-dht11'){\n  //手動寫死(溫度;濕度)\n  msg.payload=\"55!99\"\n}\n  \nvar parts433 = msg.payload.split(\"!\");\nnode.warn(parts433.length)\nif (parts433.length==2){\n  msg.payload = \"20;02;DKW2012;ID=0043;TEMP=\"+parts433[0]+\";HUM=\"+parts433[1]+\";WINSP=0031;WINGS=0049;RAIN=0c22;WINDIR=0004;BAT=OK;\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":187.99998474121094,"wires":[["8c2ef147.45f668","309f8271.6a4a9e"]]},{"id":"83c7b1ee.e92188","type":"rpi-dht22","z":"39758ced.e215cc","name":"","topic":"rpi-dht11","dht":"11","pintype":"0","pin":4,"x":177,"y":373,"wires":[["9c3be399.ffa75"]]},{"id":"2eb83f92.76e3f8","type":"camerapi-takephoto","z":"5c9c4d8a.e2f73c","filemode":"1","filename":"photo1.JPEG","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"4","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":401,"y":223,"wires":[["6aa4dc63.a9919c"]]},{"id":"526d3e03.0c0e78","type":"ui_template","z":"5c9c4d8a.e2f73c","group":"298154d8.568c0c","name":"","order":0,"width":"6","height":"6","format":"<script>\nvar value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  var source = '/photo1.JPEG',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"photo\").src = newUrl;\n}\n</script>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 2500);\" style=\"padding:40px; margin-bottom: 40px;\" >\n <ui-icon icon=\"camera\"></ui-icon>\n Take a photo<br>\n</md-button>\n\n<div style=\"margin-bottom:40px;\">\n <img src=\"/photo1.JPEG\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":160.99998474121094,"y":148,"wires":[["2eb83f92.76e3f8"]]},{"id":"6aa4dc63.a9919c","type":"debug","z":"5c9c4d8a.e2f73c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":639,"y":187,"wires":[]},{"id":"1a3952e3.c73835","type":"inject","z":"39758ced.e215cc","name":"trigger","topic":"ltu","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":126.5,"y":199,"wires":[["83c7b1ee.e92188"]]},{"id":"9c3be399.ffa75","type":"function","z":"39758ced.e215cc","name":"measures","func":"var temp = msg.payload;\nvar hum = msg.humidity;\nmsg.payload = temp + \"!\" + hum;\nreturn msg;","outputs":1,"noerr":0,"x":406.5,"y":322.5999755859375,"wires":[["a68d9b5a.f824b"]]},{"id":"309f8271.6a4a9e","type":"debug","z":"39758ced.e215cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":546,"y":75,"wires":[]}]