ltu-to-mqtt.json
[
    {
        "id": "46dd5188.a5f85",
        "type": "tab",
        "label": "Sensor-To-MQTT",
        "disabled": false,
        "info": "嶺東教育訓練"
    },
    {
        "id": "ee419fe9.4b73b",
        "type": "mqtt out",
        "z": "46dd5188.a5f85",
        "name": "ltu",
        "topic": "ltu",
        "qos": "0",
        "retain": "",
        "broker": "8c79fe46.7b645",
        "x": 810,
        "y": 206.99998474121094,
        "wires": []
    },
    {
        "id": "21dea89.bd47ad8",
        "type": "inject",
        "z": "46dd5188.a5f85",
        "name": "手動輸入",
        "topic": "ltu",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 194.99998474121094,
        "y": 111,
        "wires": [
            [
                "19483cab.792033"
            ]
        ]
    },
    {
        "id": "19483cab.792033",
        "type": "function",
        "z": "46dd5188.a5f85",
        "name": "Fake Data",
        "func": "//判別資料來源\nif (msg.topic!='rpi-dht11'){\n  //手動寫死(溫度;濕度)\n  msg.payload=\"55!99\"\n}\n  \nvar parts433 = msg.payload.split(\"!\");\nnode.warn(parts433.length)\nif (parts433.length==2){\n  msg.payload = \"20;02;DKW2012;ID=0043;TEMP=\"+parts433[0]+\";HUM=\"+parts433[1]+\";WINSP=0031;WINGS=0049;RAIN=0c22;WINDIR=0004;BAT=OK;\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 519,
        "y": 193.99998474121094,
        "wires": [
            [
                "ee419fe9.4b73b",
                "e23970bf.46a3b8"
            ]
        ]
    },
    {
        "id": "e23970bf.46a3b8",
        "type": "debug",
        "z": "46dd5188.a5f85",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 743,
        "y": 72,
        "wires": []
    },
    {
        "id": "a88cd948.f3a338",
        "type": "rpi-dht22",
        "z": "46dd5188.a5f85",
        "name": "",
        "topic": "rpi-dht11",
        "dht": "11",
        "pintype": "0",
        "pin": 4,
        "x": 318,
        "y": 319,
        "wires": [
            [
                "946054c1.5c3898"
            ]
        ]
    },
    {
        "id": "316fc3a8.310cbc",
        "type": "debug",
        "z": "46dd5188.a5f85",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 794,
        "y": 357,
        "wires": []
    },
    {
        "id": "e76f067f.3e1d9",
        "type": "inject",
        "z": "46dd5188.a5f85",
        "name": "trigger",
        "topic": "ltu",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 148.49998474121094,
        "y": 253,
        "wires": [
            [
                "a88cd948.f3a338"
            ]
        ]
    },
    {
        "id": "946054c1.5c3898",
        "type": "function",
        "z": "46dd5188.a5f85",
        "name": "measures",
        "func": "var temp = msg.payload;\nvar hum = msg.humidity;\nmsg.payload = temp + \"!\" + hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 533.5,
        "y": 351.5999755859375,
        "wires": [
            [
                "316fc3a8.310cbc",
                "19483cab.792033"
            ]
        ]
    },
    {
        "id": "8c79fe46.7b645",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "soldier.cloudmqtt.com",
        "port": "11488",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]