ltu-shell.json
[
    {
        "id": "fc2cea26.6752b8",
        "type": "tab",
        "label": "Run Shell",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c77f37e.d81a3c8",
        "type": "bigexec",
        "z": "fc2cea26.6752b8",
        "name": "",
        "command": "sh",
        "commandArgs": "-c '(echo stdout; echo stderr >&2)'",
        "minError": 1,
        "minWarning": 1,
        "cwd": "",
        "shell": false,
        "extraArgumentProperty": "",
        "envProperty": "",
        "x": 725,
        "y": 321,
        "wires": [
            [
                "da5f1a59.23bf2"
            ],
            [
                "ed436b28.979058"
            ],
            [
                "9740179a.3e3e08"
            ]
        ]
    },
    {
        "id": "8dbd5fe6.ef9b8",
        "type": "debug",
        "z": "fc2cea26.6752b8",
        "name": "output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 535,
        "y": 521,
        "wires": []
    },
    {
        "id": "3be7f3a2.b35b44",
        "type": "bigexec",
        "z": "fc2cea26.6752b8",
        "name": "true",
        "command": "true",
        "commandArgs": "",
        "minError": 1,
        "minWarning": "",
        "cwd": "",
        "shell": false,
        "x": 235,
        "y": 121,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "3db62212.c482be",
        "type": "bigexec",
        "z": "fc2cea26.6752b8",
        "name": "sh",
        "command": "sh",
        "commandArgs": "-c",
        "minError": "8",
        "minWarning": "1",
        "cwd": "/tmp",
        "shell": false,
        "extraArgumentProperty": "",
        "envProperty": "",
        "format": "utf8",
        "payloadIs": "argument",
        "x": 675,
        "y": 161,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b348683f.0bb89",
        "type": "inject",
        "z": "fc2cea26.6752b8",
        "name": "",
        "topic": "",
        "payload": "\"exit 0\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 515,
        "y": 121,
        "wires": [
            [
                "3db62212.c482be"
            ]
        ]
    },
    {
        "id": "7cd511e6.7a4ba8",
        "type": "inject",
        "z": "fc2cea26.6752b8",
        "name": "",
        "topic": "",
        "payload": "\"exit 1\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 515,
        "y": 161,
        "wires": [
            [
                "3db62212.c482be"
            ]
        ]
    },
    {
        "id": "a634eaf9.e888e",
        "type": "inject",
        "z": "fc2cea26.6752b8",
        "name": "",
        "topic": "",
        "payload": "\"exit 8\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 515,
        "y": 201,
        "wires": [
            [
                "3db62212.c482be"
            ]
        ]
    },
    {
        "id": "18852f88.bbbf6",
        "type": "bigexec",
        "z": "fc2cea26.6752b8",
        "name": "sleep",
        "command": "sleep",
        "commandArgs": "",
        "minError": "8",
        "minWarning": "1",
        "cwd": "/tmp",
        "shell": true,
        "extraArgumentProperty": "",
        "envProperty": "",
        "x": 235,
        "y": 401,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e63d4f14.5c0df",
        "type": "inject",
        "z": "fc2cea26.6752b8",
        "name": "",
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 75,
        "y": 401,
        "wires": [
            [
                "18852f88.bbbf6"
            ]
        ]
    },
    {
        "id": "d3e59d1.1ca08e",
        "type": "inject",
        "z": "fc2cea26.6752b8",
        "name": "True!",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 75,
        "y": 121,
        "wires": [
            [
                "3be7f3a2.b35b44"
            ]
        ]
    },
    {
        "id": "9d7f31f6.cd1c08",
        "type": "bigexec",
        "z": "fc2cea26.6752b8",
        "name": "false",
        "command": "false",
        "commandArgs": "",
        "minError": 1,
        "minWarning": "",
        "cwd": "",
        "shell": false,
        "extraArgumentProperty": "",
        "envProperty": "",
        "x": 235,
        "y": 201,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e7d51e8b.f804e8",
        "type": "inject",
        "z": "fc2cea26.6752b8",
        "name": "False!",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 75,
        "y": 201,
        "wires": [
            [
                "9d7f31f6.cd1c08"
            ]
        ]
    },
    {
        "id": "40c36d7e.0bafa4",
        "type": "inject",
        "z": "fc2cea26.6752b8",
        "name": "Hello!",
        "topic": "",
        "payload": "Hello you!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 79,
        "y": 521,
        "wires": [
            [
                "951f8c92.a261a8"
            ]
        ]
    },
    {
        "id": "951f8c92.a261a8",
        "type": "bigexec",
        "z": "fc2cea26.6752b8",
        "name": "echo",
        "command": "echo",
        "commandArgs": "",
        "minError": 1,
        "minWarning": "",
        "cwd": "",
        "shell": false,
        "extraArgumentProperty": "",
        "envProperty": "",
        "format": "utf8",
        "payloadIs": "argument",
        "x": 235,
        "y": 521,
        "wires": [
            [
                "fc39bfc.79333c"
            ],
            [],
            []
        ]
    },
    {
        "id": "fc39bfc.79333c",
        "type": "function",
        "z": "fc2cea26.6752b8",
        "name": "toString()",
        "func": "msg.payload = msg.payload.toString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 385,
        "y": 521,
        "wires": [
            [
                "8dbd5fe6.ef9b8"
            ]
        ]
    },
    {
        "id": "d2f8478b.34bee8",
        "type": "bigexec",
        "z": "fc2cea26.6752b8",
        "name": "unknown",
        "command": "/I/m/not/existing",
        "commandArgs": "",
        "minError": 1,
        "minWarning": 1,
        "cwd": "",
        "shell": "",
        "extraArgumentProperty": "",
        "envProperty": "",
        "x": 245,
        "y": 321,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "bd8c6aad.82edd8",
        "type": "inject",
        "z": "fc2cea26.6752b8",
        "name": "unknown",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 85,
        "y": 321,
        "wires": [
            [
                "d2f8478b.34bee8"
            ]
        ]
    },
    {
        "id": "a5975691.54211",
        "type": "debug",
        "z": "fc2cea26.6752b8",
        "name": "stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1075,
        "y": 261,
        "wires": []
    },
    {
        "id": "3e5fd7c7.e0bc4",
        "type": "debug",
        "z": "fc2cea26.6752b8",
        "name": "stderr",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1075,
        "y": 381,
        "wires": []
    },
    {
        "id": "d0b1a4a7.6b5408",
        "type": "inject",
        "z": "fc2cea26.6752b8",
        "name": "sample echo",
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 535,
        "y": 321,
        "wires": [
            [
                "c77f37e.d81a3c8"
            ]
        ]
    },
    {
        "id": "ed436b28.979058",
        "type": "function",
        "z": "fc2cea26.6752b8",
        "name": "rc",
        "func": "if (msg.control && (msg.control.state == 'end' || msg.control.state == 'error')) return { payload: msg.control.rc }",
        "outputs": 1,
        "noerr": 0,
        "x": 915,
        "y": 321,
        "wires": [
            [
                "ae58cb02.71878"
            ]
        ]
    },
    {
        "id": "ae58cb02.71878",
        "type": "debug",
        "z": "fc2cea26.6752b8",
        "name": "rc",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1075,
        "y": 321,
        "wires": []
    },
    {
        "id": "da065d8.74d1d2",
        "type": "comment",
        "z": "fc2cea26.6752b8",
        "name": "Sample usage of Big Exec (Linux) command lines",
        "info": "",
        "x": 185,
        "y": 61,
        "wires": []
    },
    {
        "id": "da5f1a59.23bf2",
        "type": "function",
        "z": "fc2cea26.6752b8",
        "name": "toString()",
        "func": "msg.payload = msg.payload.toString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 925,
        "y": 261,
        "wires": [
            [
                "a5975691.54211"
            ]
        ]
    },
    {
        "id": "9740179a.3e3e08",
        "type": "function",
        "z": "fc2cea26.6752b8",
        "name": "toString()",
        "func": "msg.payload = msg.payload.toString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 925,
        "y": 381,
        "wires": [
            [
                "3e5fd7c7.e0bc4"
            ]
        ]
    },
    {
        "id": "cde213b7.cf902",
        "type": "comment",
        "z": "fc2cea26.6752b8",
        "name": "Big Line should be better here",
        "info": "",
        "x": 961.0001220703125,
        "y": 206.99998474121094,
        "wires": []
    },
    {
        "id": "8bd395b6.70685",
        "type": "comment",
        "z": "fc2cea26.6752b8",
        "name": "Showing 3 states statuses",
        "info": "",
        "x": 662,
        "y": 66,
        "wires": []
    },
    {
        "id": "d72ed1c1.48a948",
        "type": "comment",
        "z": "fc2cea26.6752b8",
        "name": "Sending data through stdin",
        "info": "",
        "x": 267,
        "y": 468,
        "wires": []
    },
    {
        "id": "f27c9784.2a7dc8",
        "type": "comment",
        "z": "fc2cea26.6752b8",
        "name": "Unknow command",
        "info": "",
        "x": 259,
        "y": 264,
        "wires": []
    },
    {
        "id": "b51ab07c.500308",
        "type": "inject",
        "z": "fc2cea26.6752b8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 759.5000305175781,
        "y": 500,
        "wires": [
            [
                "1937eba4.7cdf9c"
            ]
        ]
    },
    {
        "id": "1937eba4.7cdf9c",
        "type": "bigexec",
        "z": "fc2cea26.6752b8",
        "name": "Call Python",
        "command": "sh",
        "commandArgs": "-c '(python /home/pi/ltu.py)'",
        "minError": 1,
        "minWarning": 1,
        "cwd": "",
        "shell": "",
        "extraArgumentProperty": "",
        "envProperty": "",
        "format": "",
        "limiter": true,
        "payloadIs": "argument",
        "x": 941.5,
        "y": 499.9000244140625,
        "wires": [
            [
                "c6f0717a.ebae18"
            ],
            [],
            []
        ]
    },
    {
        "id": "c6f0717a.ebae18",
        "type": "function",
        "z": "fc2cea26.6752b8",
        "name": "toString()",
        "func": "msg.payload = msg.payload.toString()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120.4000244140625,
        "y": 489.20001220703125,
        "wires": [
            [
                "6a38cc3e.f0265c"
            ]
        ]
    },
    {
        "id": "6a38cc3e.f0265c",
        "type": "debug",
        "z": "fc2cea26.6752b8",
        "name": "output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1281.400146484375,
        "y": 496.20001220703125,
        "wires": []
    },
    {
        "id": "6d3a9ce6.2bed14",
        "type": "comment",
        "z": "fc2cea26.6752b8",
        "name": "執行 ltu.py 程式",
        "info": "",
        "x": 795.7999877929688,
        "y": 446.20001220703125,
        "wires": []
    }
]
